<div class="container ">

  <div class="">
    <div class=" text-center">
      <h1>Taxonomía de las Plantas🌻</h1>
    </div>
    <div class="">
      @if(plantas.length>0){
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Reino</th>
              <th>Clase</th>
              <th>Orden</th>
              <th>Familia</th>
              <th>Género</th>
              <th>Especie</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (planta of plantas; track planta.id) {
            <tr>
              <td>{{planta.id}}</td>
              <td>{{planta.nombre}}</td>
              <td>{{planta.reino}}</td>
              <td>{{planta.clase}}</td>
              <td>{{planta.orden}}</td>
              <td>{{planta.familia}}</td>
              <td>{{planta.genero}}</td>
              <td>{{planta.especie}}</td>
              <td class="acciones">
                <button type="button" class="btn btn-success btn-sm"
                  (click)="seleccionarPlanta(planta)">Seleccionar</button>
                <button type="button" class="btn btn-danger btn-sm"
                  (click)="eliminarPlantita(planta.id)">Eliminar</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }@else{
      <h3 class="text-center">No hay productos🥺</h3>
      }
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header text-center">
      <h2>Modificar/Agregar Planta🪴</h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>ID:</label>
        <input type="number" class="form-control" placeholder="Escribe número" [(ngModel)]="planta.id">
      </div>
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" class="form-control" placeholder="Escribe nombre" [(ngModel)]="planta.nombre">
        <!-- @if(enviado && formContacto.get('nombre')?.errors?.['required']){
          <span style="color: red;">Este campo es obligatorio</span>
          }
          @if(enviado && formContacto.get('nombre')?.errors?.['minlength']){
          <span style="color: red;">El nombre debe de tener mas de 10 caracteres</span>
          } -->

      </div>
      <div class="form-group">
        <label>Reino:</label>
        <input type="text" class="form-control" placeholder="Escribe reino" [(ngModel)]="planta.reino">
      </div>
      <div class="form-group">
        <label>Clase:</label>
        <input type="text" class="form-control" placeholder="Escribe clase" [(ngModel)]="planta.clase">
      </div>
      <div class="form-group">
        <label>Orden:</label>
        <input type="text" class="form-control" placeholder="Escribe orden" [(ngModel)]="planta.orden">
      </div>
      <div class="form-group">
        <label>Familia:</label>
        <input type="text" class="form-control" placeholder="Escribe familia" [(ngModel)]="planta.familia">
      </div>
      <div class="form-group">
        <label>Género:</label>
        <input type="text" class="form-control" placeholder="Escribe género" [(ngModel)]="planta.genero">
      </div>
      <div class="form-group">
        <label>Especie:</label>
        <input type="text" class="form-control" placeholder="Escribe especie" [(ngModel)]="planta.especie">
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-primary mx-2" (click)="agregarPlanta()">Agregar</button>
        <button type="button" class="btn btn-success mx-2" (click)="modificarPlanta()">Modificar</button>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>